* {
   box-sizing: border-box;
}
body {
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
    margin:0;
}

.contenedor {
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
    min-height: calc( 100vh - 20px );
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3F51B5;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    background-color: #1a2770;
}
nav ul a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

/* Menú Sencillo */
nav.sencillo ul {
   display: flex;
   flex-direction: column;    /* Mobile First */
   justify-content: space-between;
}
nav.sencillo ul li {
   margin-bottom: .5rem;
   text-align: center;
}
@media screen and ( min-width: 768px ) {
   nav.sencillo ul {
      flex-direction: row;
   }
   nav.sencillo ul li {
      margin-bottom: 0;
   }
}

/* Menú con Iconos */
nav.iconos ul li a {
   display: flex;
}
nav.iconos .icon-item {
   flex: 0 1 2.6rem;
   justify-content: flex-start;
}
nav.iconos .text-item span {
   display: block;
   font-size: .8rem;
   margin-top: .5rem;
}
@media screen and ( min-width: 480px ) {
   nav.iconos ul {
      display: flex;
      flex-wrap: wrap;
   }
   nav.iconos ul li {
      flex: 0 1 50%;
   }
}
@media screen and ( min-width: 768px ) {
   nav.iconos ul li {
      flex: 1;
   }
}

/* Menú Dropdown */
nav.dropdown ul {
   display: flex;
   flex-direction: column;
}
nav.dropdown ul li {
   display: flex;
   flex-direction: column;
   position: relative;
}
nav.dropdown ul li ul {
   background-color: orange;
   display: none;
   left: -.8em;
   position: relative;
   top: 1em;
   width: calc( 100% + 1.6em );
}
nav.dropdown ul li:hover ul {
   display: flex;
   flex-direction: column;    /* Técnicamente esta linea sobra si se desea desplegar verticalmente */
}
@media screen and ( min-width: 768px ) {
   nav.dropdown ul {
      flex-direction: row;
   }
   nav.dropdown ul li {
      display: flex;
      flex: 1 1 100%;
      position: relative;
   }
   nav.dropdown ul li ul {
      background-color: orange;
      display: none;
      left: 0;
      position: absolute;
      top: 100%;
   }
   nav.dropdown ul li:hover ul {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
}
